*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

:root{
    --color: #a7a5a5;
}

a{
    text-decoration: none;
    color: var(--color);
}

.none{
    display: none;
}

/* a-side */

aside{
    width: 200px;
    height: 100%;
    min-height: 400px;
    flex-direction: column;
    position: relative;
    background-color: black;
}

.spotify{
    width: 100%;
    height: 100px;
    padding: 15px;

}

.home, .cerca, .libreria{
    width: 100%;
    height: 35px;
    padding: 5px 15px;
    align-items: center;
    color: var(--color);
    align-content: center;
}

.home i, .cerca i, .libreria i{
    padding-right: 5px;
    align-content: center;
}


.playlist{
    width: 100%;
    height: calc(100% - 300px);
    padding: 5px 15px;
    overflow: auto;

}

.container-playlist{
    width: 100%;
}
.container-playlist2 {
    width: 100%;
    
}

.container-playlist{
    color: white;
}

.aside-footer{
    width: 100%;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: 0;
}


.div-1{
    height: calc(100vh - 100px);
}

/* main */

main{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;

}

/* header */

header{
    width: calc(100% - 200px) ;
    height: 100px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    position: fixed;
    top: 0;
    right: 0;
    

}

.header{
    height: 100%;
    padding-right: 10px;
    align-items: center;
    justify-content: flex-end;
}

header a{
    padding: 5px;
    border-radius: 20px;
    border: 1px white solid;
    
}

.header a:hover{
    padding: 15px;
}



/* nav */


nav a:hover{
    color: white;

}

/* container */

.pagina{
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 100px;
    overflow: auto;
}

.pagina .container{
    width: 100%;
    background-color: rgb(21, 21, 33);
}

.pagina .container nav{
    width: 100%;
    height: 50px;
    padding: 0 180px;
    background-color: rgb(21, 21, 33);
    align-items: center;
    justify-content: center;
}

.pagina .container nav a{
    padding-left: 10px;
}

/* recently-played */

.recently-played{
    padding: 0 10px;
}

h2{
    color: white;
    padding: 20px;
}

.recently-played div{
    width: calc(100% / 6 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    z-index: 2;

}


.recently-played div h3{
    color: white;
}
.recently-played div h4{
    color: var(--color);
}

.recently-played div img{
    width: 100%;
}



.recently-played div div{
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50px;
    left: 65px;
   

    
}

.recently-played div div:hover{
    background-image: url(../img/play-solid.svg);

   

    
}

.recently-played div:hover{
    opacity: 50%;
   

    
}






    
    




/* per te*/

.per-te{
    padding: 0 20px;
}

.per-te div{
    width: calc(100% / 6 - 20px);
    text-align: center;

}

.per-te div:last-of-type{
    margin-left: 20px;
}

.per-te div h3{
    color: white;
}
.per-te div h4{
    color: var(--color);
}

.per-te div img{
    width: 100%;
}

/* artisti popolari */

.sottotitolo{
    padding-left: 20px;
    color: var(--color);
}

.artisti{
    padding: 0 20px;
    padding-top: 10px;
}

.artisti div{
    width: calc(100% / 6 - 20px);
    text-align: center;

}

.artisti div:last-of-type{
    margin-left: 20px;
}

.artisti div h3{
    color: white;

}

.artisti div img{
    width: 100%;
    border-radius: 50%;
}

/* footer */

footer{
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: rgb(46, 44, 44);
}

.footer-container{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.footer-container .box-1{
    min-width: 100px;
    height: 70%;
    align-items: center;
}

.footer-container .box-1 img{

    height: 100%;
}

.footer-container .box-1 div{
    min-width: 10px;
    height: 100%;
    padding-top: 17px;
    padding-left: 5px;
}

.footer-container .box-1 div span{
    color: var(--color);
}
.footer-container .box-1 div h5{
    color: aliceblue;
}
.box1-b i{
    font-size: 20px;
    padding: 5px;
}

.box1-b{
    align-items: center;
    color: var(--color);
    padding-bottom: 5px;
}



.box-2{
    width: 500px;
    height: 100%;
    min-width: 100px;
    align-items: center;
}


.play{
    width: 100%;
    height: 50%;
    color: white;
    align-items: center;
    justify-content: center;
}

.play a{
    width: calc(100% / 5);
    height: 100%;
    min-width: 30px;
    align-items: center;
    justify-content: center;
}

.play-button{
    font-size: 35px;
}

.bar{
    width: 100%;
    justify-content: center;
}

.minutaggio{
    width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;

}
.barra{
    width: 80%;
    height: 50px;
    min-width: 50px;
    align-items: center;
    
}

.barra div{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    border: 1px white solid;
}
.barra div div{
    width: 20%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}




.box-3{
    min-width: 200px;
    height: 80%;
    align-items: center;
    justify-content: space-around;
}

.box-3 div{
    width: 80px;
    height: 5px;
    border-radius: 5px;
    border: 1px white solid;

}
.box-3 div div{
    width: 25%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px white solid;

}









@media (max-width: 1100px){
    .recently-played div, .per-te div, .artisti div{
        width: calc(100% / 4 - 20px);
        flex-wrap: wrap;
   
    }
    .pagina .container nav{
        padding: 0 50px;
        
    }
    .box-2{
        width: 250px;
    }
    
    
}
@media (max-width: 700px){
    .recently-played div, .per-te div, .artisti div{
        width: calc(100% / 2 - 20px);
        flex-wrap: wrap;
   
    }
    .box-2{
        width: 150px;
    }
    
}
@media (max-width: 600px){
    aside{
        width: 50px;
    }
    .spotify img:first-child{
        display: none;
    }
    .spotify{
        display: flex;
        align-items: center;
        color: white;
    }
    .none{
        display: block;
        width: 100%;
        align-items: center;
    }
    .home span, .cerca span, .libreria span, .playlist{
        display: none;
    }
    header{
        width: calc(100% - 50px);
    }
    main{
        width: calc(100vw - 50px);
    }
    
    
}


    

    
